<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application>

        <activity
            android:name=".feature.device.view.activity.GlassDeviceBindActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.device.view.activity.GlassDeviceUnbindActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.device.view.activity.GlassRemoteControlActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.translate.view.TranslateSimultaneousActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>